
DATA_DIR="./data"

#--- cloudflare tunnel configuration ---
TUNNEL_NAME="llamatunnel"

#--- caddy configuration ---
# get the token from the Cloudflare dashboard:
# `My Profile` > `API Tokens` > `Create Token` > `Edit Zone DNS` > 
# `Zone:DNS:Edit` > `Include:Specific Zone:example.com` > 
# `Continue to Summary` > `Create Token`
CLOUDFLARE_API_TOKEN="theapitoken"

DOMAIN_NAME="example.com"
API_SUBDOMAIN="api"
APP_SUBDOMAIN="app"

# generate a secret key, for example with Python:
# python -c "import secrets; print(secrets.token_urlsafe())"
OLLAMA_API_KEY="arandomstring"

#--- open webui configuration ---
# the port the webui will be available on localhost
OPEN_WEBUI_PORT=3200

# generate a secret key, for example with Python:
# python -c "import secrets; print(secrets.token_urlsafe())"
WEBUI_SECRET_KEY="anotherrandomstring"
